<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<html lang="en">
<html>
    <head>
        <title>KICOM LOGIN PAGE</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kicom_login_css.css') }}">
         <link href="http://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet" type="text/css"> 
    </head>    
    <body>
        <div id="box">
            <header>
                <div id="title">
                    <h1>KICOM</h1>
                    Please Login
                </div>
            </header>
            <form method="post" action="/main">  
                <div id="login_form">
                    <div id="login">
                        <div id="id_input">
                            <input type="text" name="id" placeholder="ID">
                        </div>
                        <div id="pw_input">
                            <input type="password" name="password" placeholder="PASSWORD">
                        </div>
                    </div>
                    <button type="submit" id="btn">로그인</button>
                </div>
            </form>
        </div>
    </body>
</html>