<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<html lang="en">
<html>
    <head>
        <title>KICOM</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kicom_list_css.css') }}">
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/kicom_list_js.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/kicom_visitorAlert_js.js') }}"></script>
        <link href="http://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <div id="container">
            <header id="explain">
                <div id="title">
                    KICOM
                </div>
                <div id="subtitle">
                    Kinect 2.0 Smartdoor Security System
                </div>
                <div id="login_info">WELCOME "{{ id }}" !</div>
            </header>
            <nav id="menu">
                <ul>
                    <li><a href="list">VISITORS</a></li>
                    <li><a href="message">MESSAGE</a></li>
                    <li><a href="logout">LOGOUT</a></li>
                </ul>
            </nav>
            <div id="content">
                <div id="table">
                    <div id="name">
                        <div id="name_tag">[이름]</div>
                        <div id="name_content"></div>
                    </div>
                    <div id="relation">
                        <div id="relation_tag">[관계]</div>
                        <div id="relation_content"></div>
                    </div>
                    <div id="date">
                        <div id="date_tag">[시간]</div>
                        <div id="date_content"></div>
                    </div>
                    <div id="photo">
                        <div id="photo_tag">[사진]</div>
                        <div id="photo_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>