#container {
    
    margin: 10px;
}
#container > #explain {
    
    padding-top: 40px;
}
#container > #explain > #title {
    
    text-align: center;
    padding-right: 20%;
    font-size: 600%;
    font-family: 'Finger Paint', cursive;
}
#container > #explain > #subtitle {
    
    text-align: center;
    padding-left: 25%;
    padding-bottom: 1%;
    font-size: 150%;
    font-family: 'Finger Paint', cursive;
}

#container > #explain > #login_info {
    
    text-align: center;
    margin-left: 35%;
}

/* 수평 메뉴 */
#container > #menu > ul {
    
    float: right;
    overflow: hidden;
    margin-right: 20%;
}
#container > #menu > ul > li {
    
    list-style-type: none;
    float: left;
}
#container > #menu > ul > li > a{
    
    display: block;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
}
#container > #menu > ul > li > a:hover{
    
	background:black;
	color:white;
}
#container > #menu > ul > li:first-child > a {
    
    border-radius:8px 0 0 8px;
}
#container > #menu > ul > li:last-child > a {
    
    border-radius:0 8px 8px 0;
}
#container > #content {
    
    height: 610px;
    width: 100%;
    position: relative;
    top: 0px;
    border: 1px solid black;
    display: table;
    vertical-align: middle;
    text-align: center;

}
#container > #content > #content_detail {
    
    width: 0 auto;
    height: 0 auto;
    
    margin: 5%;
    margin-bottom: 30px;
    
    font-size: 150%;
    text-align: center;
    
    vertical-align: middle;
}
#container > #content > #wrap_content > #input_form {
    
    /* 중앙 정렬 */
    width: 0 auto;
    height: 0 auto;
    
    /* 절대 좌표 */
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
}

#container > #content > #wrap_content > #input_form > #message {
    
    width: 400px;
    height: 80px;
}

#container > #content > #wrap_content > #input_form > #button {

    width: 80px;
    height: 85px;
}