html, body{
    width: 100%;
    min-width: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2196F3;
    text-align: center;
    vertical-align: middle;
}
#box {
    width: 100%;
    min-width: 400px;
    height: 100%;
}
header {
    margin-top: 40px;
    min-width: 400px;
}
#title {
    color: white;
    font-size: 50px;  
    font-family: 'Fugaz One'; 
}
#subtitle {
    color: white;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#login_info {
    color: white;
    margin-bottom: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* 수평 메뉴 */
nav > ul {
    min-width: 400px;
    padding: 0;
    vertical-align: middle;
    overflow: hidden;
    background-color: #01579B;
    
}
nav > ul > li {
    list-style-type: none;
    display: inline-block;
}
nav > ul > li > a{
    display: block;
    color: white;
    width: 60px;
    text-align: center;
    padding: 10px 20px;
}
nav > ul > li > a:hover{
    background:black;
    color:white;
}

#content { 
    width: 0 auto;
    min-width: 400px;
    height: 680px;
    min-height: 400px;
    
    background: white;
    background-size: cover;
    
    border-radius: 5px;
    margin: 50px;
    margin-right: 10%;
    margin-left: 10%;
}
#wrap_form {
    width: 0 auto;
    height: 100%;
    display: inline-table;
}
#real_form {
    width: 0 auto;
    height: 0 auto;
    vertical-align: middle;
    display: table-cell;
}
#content_detail {
    width: 0 auto;
    height: 0 auto;
    
    margin: 5%;
    margin-bottom: 30px;
    
    font-size: 150%;
    text-align: center;
    font-family: 'Jeju Gothic', sans-serif;
    
    vertical-align: middle;
}
#input_form {
    /* 중앙 정렬 */
    width: 0 auto;
    height: 0 auto;
    
    /* 절대 좌표 */
    display: inline-flex;
    display: -webkit-inline-flex;
    vertical-align: middle;
    text-align: center;
}
#input_form > #message_box {
    width: 400px;
    height: 80px;
}
#input_form > #send_button {
    -webkit-appearance: none;
    border-radius: 0;
    width: 80px;
    height: 85px;
}
a { 
    text-decoration:none 
}