#container {
    
    margin: 10px;
}
#container > #explain {
    
    padding-top: 40px;
}
#container > #explain > #title {
    
    text-align: center;
    padding-right: 20%;
    font-size: 600%;
    font-family: 'Finger Paint', cursive;
}
#container > #explain > #subtitle {
    
    text-align: center;
    padding-left: 25%;
    padding-bottom: 1%;
    font-size: 150%;
    font-family: 'Finger Paint', cursive;
}

#container > #explain > #login_info {
    
    text-align: center;
    margin-left: 35%;
}

/* 수평 메뉴 */
#container > #menu > ul {
    
    float: right;
    overflow: hidden;
    margin-right: 20%;
}
#container > #menu > ul > li {
    
    list-style-type: none;
    float: left;
}
#container > #menu > ul > li > a{
    
    display: block;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
}
#container > #menu > ul > li > a:hover{
    
    background:black;
    color:white;
}
#container > #menu > ul > li:first-child > a {
    
    border-radius:8px 0 0 8px;
}
#container > #menu > ul > li:last-child > a {
    
    border-radius:0 8px 8px 0;
}
#container > #content {
    
    height: 610px;
    width: 100%;
    position: relative;
    top: 10px;
    border: 1px solid black;
    display: inline-flex;
}

#container > #content > #table {
    
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: inline-flex;
}

#container > #content > #table > #name {
    
    width: 100%;
    height: 100%;
    float: left;
}

#container > #content > #table > #relation {
    
    width: 100%;
    height: 100%;
    float: left;
}

#container > #content > #table > #date {
    
    width: 100%;
    height: 100%;
    float: left;
}

#container > #content > #table > #photo {
    
    width: 100%;
    height: 100%;
    float: left;
}

#container > #content > #table > #name > #name_tag {
    
    width: 100%;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #name > #name_content {
    
    width: 100%;
    height: 550px;
    padding-top: 10px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #relation > #relation_tag {
    
    width: 100%;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #relation > #relation_content {
    
    width: 100%;
    height: 550px;
    padding-top: 10px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #date > #date_tag {
    
    width: 100%;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #date > #date_content {
    
    width: 100%;
    height: 550px;
    padding-top: 10px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #photo > #photo_tag{
    
    width: 100%;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    text-align: center;
    border: 1px solid black;
}

#container > #content > #table > #photo > #photo_content{
    
    width: 100%;
    height: 550px;
    padding-top: 10px;
    float: left;
    text-align: center;
    border: 1px solid black;
}